@import './mixins';

html,
body,
#root {
  @include mdMinBreakPoint {
      height: 100%;
  }
}

body {
  background-color: $primaryPink !important;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px !important;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
    font-size: 0.65rem !important;
    font-weight: 500;
    text-transform: uppercase;
}