.Details {
    min-height: 240px;
    padding: 25px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .List {
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;

        li {
            padding: 3px 8px;

            :global(.ant-statistic) {
                line-height: 0.8;
                height: 25px;
            }
            
            :global(.ant-statistic-content-value) {
                font-size: initial;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}